<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link">Go to Dashboard</a>
    </div>

    <div class="col-md-6">
    </div>
</div>

<div class="card">
    <div class="card-header">
        Edit Client
    </div>
    <div class="card-body">
        <form [formGroup]="editClientForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="firstName">
                <div class="text-danger"
                    *ngIf="editClientForm.get('firstName')!.hasError('required') && editClientForm.get('firstName')!.touched">
                    First Name is required
                </div>
                <div class="text-danger"
                    *ngIf="editClientForm.get('firstName')!.hasError('minlength') && editClientForm.get('firstName')!.touched">
                    First Name should be minimum 2 characters
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': (editClientForm.get('lastName')!.hasError('required') && editClientForm.get('lastName')!.touched) 
    ||    (editClientForm.get('lastName')!.hasError('minlength') && editClientForm.get('lastName')!.touched)}"
                    formControlName="lastName">
                <div class="text-danger"
                    *ngIf="editClientForm.get('lastName')!.hasError('required') && editClientForm.get('lastName')!.touched">
                    Last Name is required
                </div>
                <div class="text-danger"
                    *ngIf="editClientForm.get('lastName')!.hasError('minlength') && editClientForm.get('lastName')!.touched">
                    Last Name should be minimum 2 characters
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email">
                <div class="text-danger"
                    *ngIf="editClientForm.get('email')!.hasError('required') && editClientForm.get('email')!.touched">
                    Email is required
                </div>
                <div class="text-danger"
                    *ngIf="editClientForm.get('email')!.hasError('email') && editClientForm.get('email')!.touched">
                    Email should be valid one
                </div>
            </div>

            <div class="form-group">
                <label for="phoneNo">Phone Number</label>
                <input type="text" class="form-control" formControlName="phoneNo">
            </div>

            <div class="form-group">
                <label for="balance">Balance</label>
                <input type="text" class="form-control" formControlName="balance">
            </div>

        </form>
        <br>
        <button type="submit" class="btn btn-primary" (click)="editClient()">Save</button>

    </div>
</div>